# IREE Python API
# Use nightly releases instead of PyPi
-f https://iree-org.github.io/iree/pip-release-links.html
iree-compiler
iree-runtime
iree-tools-tflite
iree-tools-xla
iree-tools-tf

# TensorFlow and JAX.
gin-config
tf-nightly
tf-models-nightly
tensorflow-text-nightly
transformers
jax[cpu]


# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml
