# IREE Python API
# Use nightly releases at the GitHub releases page instead of PyPi
-f https://github.com/iree-org/iree/releases
iree-compiler
iree-runtime
iree-tools-tflite
iree-tools-xla
iree-tools-tf

# TensorFlow and JAX.
gin-config
tensorflow
tf-models-nightly
tensorflow-text-nightly
transformers
jax[cpu]


# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml
