[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com/abseil/abseil-cpp.git

[submodule "third_party/tsl"]
	path = third_party/tsl
	url = git@github.com:google/tsl.git

